<!DOCTYPE html>
<html>
  <head>
    <title>Carvan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div class = "container header-group">
      <div>
        <img class ="logo" src="img/logo.png">
      </div>
      <nav>
        <ul class = "nav">
          <li class ="nav-list">portfolio</li>
          <li class ="nav-list">Feature</li>
          <li class ="nav-list">Profile</li>
          <li class ="nav-list">Contact</li>
        </ul>        
      </nav>
    </div>
  </header>
    <%= yield %>
    <footer>

    </footer>
  </body>
</html>
